{% extends 'modellogin/home.html' %}
{% block title %}About{% endblock title %}

{% block content %}
    <section class="ezy__about12 light pt-14 md:pt-24 bg-white dark:bg-[#0b1727] text-zinc-900 dark:text-white">
        <div class="container px-4">
        <div class="grid grid-cols-12 gap-5 justify-center items-center">
            <div class="col-span-12 lg:col-span-6">
            <div class="lg:px-7">
                <h1 class="uppercase text-4xl md:text-6xl leading-tight font-medium mb-2">ABOUT ME</h1>
                <p class="text-lg leading-normal opacity-75 my-6">
                Completely network collaborative web services via user-centric initiatives. Quickly promote sticky
                testing procedures collaborator before unique process improvements. Since our inception set out in 2012,
                TalEx has set out to disrupt inception the HR & Talent/Staffing Management industry. Purposefully
                designed by our founders (Amrita Grewal and Julie Dacar) to connect great companies and great talent.
                </p>
                <div class="mt-12">
                <button
                    class="bg-gray-900 text-white hover:bg-opacity-90 dark:bg-white dark:text-black rounded-md px-7 py-3 transition"
                >
                    Download CV
                </button>
                </div>
            </div>
            </div>
            <div class="col-span-12 lg:col-span-6">
            <div class="flex justify-center lg:justify-start lg:ml-12">
                <img src="https://cdn.easyfrontend.com/pictures/quiz_1.png" alt="" class="max-w-full h-auto" />
            </div>
            </div>
        </div>
        </div>
    </section>
{% endblock content %}
