{% extends 'modellogin/home.html' %}
{% block title %}Change Password{% endblock title %}

{% block content %}
    <section
    class="ezy__signup14 light flex items-center justify-center py-14 md:py-24 text-black bg-cover bg-right bg-no-repeat relative"
    style="background-image: url(https://cdn.easyfrontend.com/pictures/background/background4.jpg)"
    >
        <div class="container px-4 mx-auto">
            <div class="flex justify-center">
                <div class="w-full md:w-2/3">
                    <div class="bg-white shadow-xl p-4">
                        <div class="flex flex-col justify-center items-center text-center h-full p-2">
                            <h2 class="text-[26px] leading-none font-bold mb-2">Change Password</h2>
                            <form class="w-full mt-6" method="POST">
                                {% csrf_token %}
                                <div class="w-full relative mb-4">
                                    {{form.old_password}}
                                    <i class="fas fa-lock absolute top-1/2 -translate-y-1/2 right-2 opacity-80"></i>
                                </div>
                                <div class="w-full relative mb-4">
                                    {{form.new_password1}}
                                    <i class="fas fa-lock absolute top-1/2 -translate-y-1/2 right-2 opacity-80"></i>
                                </div>
                                <div class="w-full relative mb-4">
                                    {{form.new_password2}}
                                    <i class="fas fa-lock absolute top-1/2 -translate-y-1/2 right-2 opacity-80"></i>
                                </div>
                                <button type="submit" class="bg-gray-700 py-4 px-10 text-white hover:bg-opacity-95 mt-4">
                                    Change Password <i class="fas fa-arrow-right"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
