{% extends 'modellogin/home.html' %}

{% block title %}Edit Profile{% endblock title %}

{% block content %}
<section class="container mx-auto py-10">
    <div class="max-w-4xl mx-auto px-4">
        <h1 class="text-3xl font-bold mb-6">Edit Profile</h1>
        <div class="bg-white shadow-md rounded-lg overflow-hidden">
            <div class="p-6">
                <!-- Form for editing profile -->
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
